<div>
	<div class="col-md-4" class="originalVideo">
		<video id="myVideo"></video>
		<label class="text-info" tooltip="This is the untouched web cam image.">Original</label>
	</div>
	<div ng-repeat="vid in vids">
		<div class="col-md-4">
			<rm-vid vid="vid"></rm-vid>
			<label class="text-info">{{vid.title}}</label>
		</div>
	</div>
</div>
